/* Appointment List section */
.appointments-list {
  height: calc(100vh - 100px);
  padding: 15px 15px 0px;
  max-height: 100%;
  .appointment-list-header{
    min-height: 50px;
  }

  .appointment-list-body {
    overflow-y: auto;
    overflow-x: hidden;
    .appointment-list-day-section {

      .appointment-list-hour-section {

        .appointment-list-items-wrapper {
          position: relative;

          .appointment-list-item {
            border-radius: 5px;
            border: 1px solid #E6E6E6;
            background-color: #FFFFFF;
            margin-left: 60px;
            margin-bottom: 5px;
            margin-right: 5px;
            @media (min-width: 576px) {
              height: 80px;
            }

            &.appointment-list-item-available {
              background-color: #B5E4B7;
              border: 1px solid #D6D6D6;
              @media (min-width: 576px) {
                height: 40px;
              }
            }

            .appointment-list-item-icon {
              padding: 0px 15px;
              margin: 10px 0px;
              border-right: 1px solid #E6E6E6;
              @media (min-width: 576px) {
                width: 60px;
                margin: 20px 0px;
              }
            }

            .appointment-list-item-duration {
              padding-top: 10px;
              @media (min-width: 576px) {
                width: 130px;
                padding: 10px;
              }
              h5,
              p {
                margin-bottom: 0px;
              }
            }

            .appointment-list-item-info {
              padding: 10px;
              @media (min-width: 576px) {
                width: calc(100% - 250px);
              }
              p {
                margin-bottom: 0px;
                line-height: 1.2;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }

            .appointment-list-item-therapist {
              @media (min-width: 576px) {
                width: 60px;
              }
              .appointment-list-item-therapist-circle {
                width: 35px;
                height: 35px;
                border-radius: 50%;
                color: #FFFFFF;
                @media (min-width: 576px) {
                  width: 35px;
                }
              }
            }

            &.selected-item {
              border: 2px solid #0078D7;
              @include box-shadow(0px 0px 10px 0px rgba(0, 0, 0, 0.35));
            }

            &.appointment-list-item-available {
              .appointment-list-item-user {
                padding: 10px;
                @media (min-width: 576px) {
                  width: calc( 100% - 260px);
                }
                p {
                  margin: 0px;
                  line-height: 1.2;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                }
              }
            }
            @media (max-width: 576px) {
              margin-left: 0px;
            }
          }

          &::before {
            content: '';
            position: absolute;
            top: 0px;
            bottom: 0px;
            width: 1px;
            background-color: #D6D6D6;
            left: 20px;
            @media (max-width: 576px) {
              display: none;
            }
          }
        }
      }
    }
    .appointment-list-todo-section{
      .appointment-list-todo-item{
        background-color: #FFFFEF;
        border: 1px solid #D6D6D6;
        margin-bottom: 5px;
        margin-right: 5px;
        border-radius: 5px;
        .appointment-list-todo-info, .appintment-list-todo-day{
          padding: 10px;
          font-size: 12px;
        }
        .appintment-list-todo-day{
          width: 100px;
        }
        .appointment-list-todo-info{
          width : calc(100% - 100px);
        }
        @media (min-width: 576px) {
          height: 40px;
          margin-left: 60px;
        }
      }
    }
  }
}


/* Appointment Details section  */
.appointment-details-wrapper {
  height: calc(100vh - 100px);
  padding: 15px 15px 0px;
  .appointment-details-header {
    position: relative;
    margin: -15px -15px 0px;
    padding: 15px;
    @media (min-width: 576px) {
      padding: 15px 40px 15px 15px;
    }

    .appointment-details-patient {
      overflow: hidden;
      h6{
        margin-bottom: 0px;
        font-weight: 600;
      }
      p {
        font-size: 12px;
        margin-bottom: 0px;
      }
    }
    .appointment-header-actions{
      .appointment-progress{
        width: 170px;
        background-color: #CFE5F8;
        border-radius: 5px 5px 0px 0px;
      }
    }
    .panel-close-section{
      position: absolute;
      right: 0px;
      top: 13px;
      cursor: pointer;
    }
  }

  .appointment-details-body {
    margin: 0px -15px;
    padding: 0px 15px;
    overflow-y: auto;
    overflow-x: hidden;
    @media (max-width: 576px) {
      height: calc(100vh - 275px);
    }
    .form-group {
      background-color: #ECF3FA;
      border: 1px solid #E6E6E6;
      line-height: 1;

      .form-control-label {
        font-size: 10px;
        margin-bottom: 0px;
        position: relative;
        top: 0px;
        left: 5px;
      }

      .form-control {
        background-color: transparent;
        border: none;
        padding: 0px 5px;
        height: 25px;

        &:focus {
          outline: none;
          box-shadow: none;
        }
      }

      select {
        &.form-control {
          -webkit-appearance: none;
          -moz-appearance: none;
          text-indent: 1px;
          text-overflow: '';

          &.dropdown-icon {
            background-repeat: no-repeat;
            background-position: right 10px top 7px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='5' viewBox='0 0 10 5'%3E%3Cpath id='Path_3485' data-name='Path 3485' d='M7,10l5,5,5-5Z' transform='translate(-7 -10)'/%3E%3C/svg%3E");
          }
        }
      }

      textarea {
        &.form-control {
          height: auto;
        }
      }
    }
    &.tasks-details-body{
      .form-group {
        background-color: #FFFFFF;
      }
    }
    .back-button{
      font-size: 12px;
      cursor: pointer;
    }
  }
  
}

/* Journal */
.journal-editor {
  h4 {
    span {
      color: #95989A;
      border-left: 1px solid #95989A;
      padding-left: 10px;
    }
  }

  p {
    font-size: 12px;
    margin-bottom: 0px;
  }
}


/* Time line  */
.timeline-details-body {
  .timeline-date-separator {
    position: relative;
    font-size: 12px;
    color: #7A7A7A;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;

    &::before {
      content: '';
      height: 1px;
      width: 35%;
      background-color: #7A7A7A;
      position: absolute;
      top: 10px;
      left: 0px;
    }

    &::after {
      content: '';
      height: 1px;
      width: 35%;
      background-color: #7A7A7A;
      position: absolute;
      top: 10px;
      right: 0px;
    }
  }

  .timeline-date-detail {
    padding: 5px;
    margin-bottom: 5px;
    background-color: #FFFFFF;
    border-radius: 5px;
    height: 80px; 
    cursor: pointer;

    .timeline-date {
      min-width: 100px;
      text-align: center;

      .timeline-date-day {
        font-size: 12px;
      }

      .timeline-date-day-number {
        font-size: 32px;
        line-height: 1;
      }
      .timeline-date-month-year{
        font-size: 12px;
      }
    }

    .timeline-info {
      padding: 5px 20px;
      position: relative;

      .timeline-info-subtitle {
        font-size: 12px;
      }

      .timeline-info-type {
        font-size: 12px;
        color: #7A7A7A;
        position: absolute;
        bottom: 5px;
      }
      .timeline-insurance-type{
        font-size: 12px;
        color: #7A7A7A;
        position: absolute;
        bottom: 5px;
        right: 15px;
      }

      &::before {
        content: '';
        position: absolute;
        top: 10px;
        bottom: 10px;
        left: 5px;
        width: 1px;
        background-color: #E6E6E6;
      }

      &::after {
        content: '';
        position: absolute;
        top: 10px;
        bottom: 10px;
        right: 5px;
        width: 1px;
        background-color: #E6E6E6;
      }
    }

    .timeline-type-icon {
      min-width: 70px;
      @include flexbox();
      justify-content: center;
      align-items: center;
    }

    &.warning-date {
      border-left: 5px solid #F44336;
    }
    &.success-date{
      border-left: 5px solid #4CAF50;
    }
    &.selected-item{
      border: 2px solid #0078D7;
      @include box-shadow(0px 0px 10px 0px rgba(0, 0, 0, 0.35));
    }
  }
}

/* Week-view */
.day-wrapper {
  width: 260px;
  margin-right: 25px;
  float: left;
}

.day-title-wrapper {
  display: table;
  position: relative;
}

.day-num {
  display: table-cell;
  vertical-align: middle;

}

.day-num h1 {
  font-size: 38px;
  font-weight: 700;
  line-height: 38px;
  margin: 0;
  color: #000100;
}

.day-text {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  padding-left: 2px;
  position: relative;

  &::before {
    content: '';
    border-top: 1px solid #95989A;
    width: 100%;
    position: absolute;
    top: 15px;
  }

  p {
    color: #7A7A7A;
    font-size: 15px;
    line-height: 20px;
    margin: 0;
    float: left;
    padding-top: 15px;
  }

  span {
    color: #000100;
    font-size: 12px;
    line-height: 22px;
    margin: 0;
    float: right;
    padding-top: 15px;
  }
}

.day-planner-wrapper {
  margin-top: 25px;
}

.day-details {
  margin-bottom: 2px;
  display: inline-block;
  width: 100%;
  border-radius: 5px;
  padding: 6px;
  height: 50px;
}

.day-details.progress {
  background: #4CAF50;
}

.day-details.completed {
  background: #0078D7;
}

.day-details.out-of-service {
  background: #F44336;
}

.day-details.completed .day-time p,
.day-details.completed .day-description p,
.day-details.out-of-service .day-time p,
.day-details.out-of-service .day-description p,
.day-details.completed .day-time span,
.day-details.completed .day-description span,
.day-details.out-of-service .day-time span,
.day-details.out-of-service .day-description span {
  color: #fff !important;
}

.day-details.progress .day-time p,
.day-details.progress .day-description p {
  color: #fff !important;
}

.day-time {
  float: left;
  width: 40px;
  margin-right: 25px;
}

.day-description {
  float: left;
}

.day-time p,
.day-description p {
  font-size: 15px;
  font-weight: 600;
  color: #000100;
  font-size: 15px;
  line-height: 15px;
  margin: 0;
}

.day-time span,
.day-description span {
  font-size: 12px;
  color: #95989A;
  line-height: 12px;
  margin: 0;
}

.sidebar-sub-title {
  color: #000100;
  font-size: 15px;
  font-weight: 600;
  margin: 0px 0 0 10px;
}

.separator {
  height: 2px;
  background-color: rgba(149, 152, 154, 0.3);
  margin: 0 10px;

}

.sidebar-form-control-label {
  font-size: 12px;
  color: #7A7A7A;
  margin-bottom: 0px;
}
