/* Right sidebar section styles goes here */
.projectname_right_sidebar {
    width: 300px;
    height: calc(100vh - 50px);
    background: $color-bg-lightgray-level-2;
    position: fixed;
    right: -300px;
    top: 50px;
    z-index: 3;
    @include transition(all 200ms linear);
}