/* Three column section styles goes here */
.aurora-three-col-container {
  height: calc(100vh - 100px);
  .first-col {
    min-width: 250px;
    max-width: 250px;
    margin-left: -250px;
    @include transition (margin-left 0.2s ease);
    overflow-y: auto;
    background-color: $color-bg-white;
    padding: 15px;
    position: fixed;
    z-index: 1;
    height: 100%;

    @media (min-width: 1200px) {
      position: relative;
    }
  }

  .second-col {
    background-color: $color-info-light-level-2;
  }

  .third-col {
    position: relative;
  }
}
