html {
  position: relative;
  min-height: 100%;
  font-size: 14px;
}

body {
  height: 100%;
  background: $color-bg-gray;
}

* {
  font-family: 'Open Sans', sans-serif;
}

a {
    cursor: pointer;
    text-decoration: none;
}

/* separator lines */
.separator-gray {
  height: 1px;
  background-color: $color-bg-gray;
  width: 100%;
}

.separator-gray-light {
  height: 2px;
  background-color: $color-bg-lightgray;
  width: 100%;
}


/* text colors */
.text-gray {
  color: $color-font-gra;
}
.danger-text {
  color: $color-font-red;
}

/* text-ellipsis */
.text-ellipsis{
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}