/* toggle radio button */
.switch-wrapper {
    width: 100%;
    line-height: 17px;
  
    .label-wrapper {
        display: inline-flex;
        width: calc(100% - 60px);
  
        p {
            font-size: 12px;
            font-weight: 600;
            color: $color-font-dark;
            margin: 0;  
        }
        
        span {
            font-size: 12px;
            font-weight: 300;
            color: $color-font-gray;
            margin: 0;
        }
    }
  
    .switch {
        position: relative;
        display: block;
        width: 45px;
        height: 20px;
        float: right;
        margin: 3px 0 0 0;
  
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 9px;
            border: 2px solid $color-font-dark;
            background-color: transparent;
            -webkit-transition: .4s;
            transition: .4s;
  
            &:before {
                position: absolute;
                content: "";
                left: 2px;
                background-color: $color-font-dark;
                height: 14px;
                width: 14px;
                bottom: 1px;
                -webkit-transition: .4s;
                transition: .4s;
                border-radius: 50%;
            }
        }
  
        input {
            opacity: 0;
            width: 0;
            height: 0;
  
            &:checked {
                & + .slider {
                    background-color: $color-info-dark ;
                    border: 2px solid $color-info-dark ;
  
                    &:before {
                        background-color: $color-bg-white;
                        @include transform(translateX(23px));
                    }
                }
  
            }
        }
    }
}