/* All the card styles goes here */
.card-container {
  position: relative;
  padding: 50px 40px 0;
  .cards-main-title {
    font-size: 22px;
    font-weight: 700;
    color: $color-font-dark;
    margin: 0;
  }
}