/* All the button styles goes here */
.action-button-w-icon {
    height: 60px;
    background-color: $color-info-light;
    border: 1px solid $color-button-border;
    border-radius: 5px;
    color: $color-font-dark;
    text-align: center;
    margin-bottom: 5px;
    cursor: pointer;
    @include transition(all 0.3s ease);
    .action-button-icon{
        min-width: 50px;
    }
  
    &.action-button-w-icon-success {
        background-color: $color-success-light;

        &:hover,&:focus {
        background-color: $color-success-light;
        }
    }

    &.action-button-w-icon-warning {
        background-color: $color-warning-light;

        &:hover,&:focus {
        background-color: $color-warning-light;
        }
    }
    &.action-button-w-icon-danger{
        background-color: $color-danger-light;
        
        &:hover,&:focus {
        background-color: $color-danger-light;
        }
    }
}

.btn-w-status {
  position: relative;
  background-color: transparent;
  width: 100%;
  margin-bottom: 5px;
  text-align: left;
  padding: 15px 15px 15px 35px;
  border-radius: 0px;

  .btn-status-line {
    position: absolute;
    left: 10px;
    top: 15px;
    bottom: 15px;
    width: 5px;
    border-radius: 5px;

    &.btn-status-danger {
      background-color: $color-danger-dark;
    }

    &.btn-status-success {
      background-color: $color-success-dark;
    }

    &.btn-status-warning {
      background-color: $color-warning-dark ;
    }

    &.btn-status-info {
      background-color: $color-info-dark;
    }

    &.btn-status-brown {
        background-color: $product-brown;
    }

    &.btn-status-purple {
        background-color: $product-purple;
    }
  }

  .btn-status-count {
    float: right;
    font-size: 12px;
    line-height: 1.6;
    color: $color-font-gray;
  }

  &:focus,&:hover,&.active {
    background-color: $color-bg-lightgray;
    box-shadow: none;
  }
}

/* Toggle buttons */
.btn-group{
    .btn{
        background-color: $color-bg-white;
        color: $color-font-gray;
        font-size: 12px;
        min-width: 100px;
        &.selected{
            background-color: $primary-color-level-2;
            color: $color-font-white;
        }
    }
}