/* aurora search Grid Component - Patient Search */
.aurora-Rtable{
    &.aurora-search-grid{
        .aurora-Rtable-row{
            @include transition (all 0.3s ease);
            .aurora-Rtable-cell{
                    font-size: 12px;
                &.table-cell-w-30{
                    width: 30%;
                }
            }
            &.aurora-Rtable-row-grouped{
                    border-bottom: 1px solid #D6D6D6;
                    border-radius: 0px;
                .aurora-Rtable-cell{
                    font-size: 16px;
                    font-weight: 600;
                }
                &:hover,&:focus{
                    background-color: transparent;
                }
                @media (max-width: 767px) {
                  border: none;
                  @include box-shadow (none);
                  margin: 0px;
                }
            }
            &:nth-child(odd){
                background-color: transparent;
            }
            &:hover,&:focus,&.selected{
                cursor: pointer;
                background-color: #CFE5F8;
            }
        }
        &.aurora-Rtable--collapse{
            width: auto;
            .aurora-Rtable-row{
                &:nth-child(odd){
                    .aurora-Rtable-cell{
                        border: none;
                    }
                }
            }
        }
    }
}