/* Responsive Table - https://css-tricks.com/accessible-simple-responsive-tables/ */
.aurora-Rtable {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 14px;

  .aurora-Rtable-row {
    width: 100%;
    display: flex;
    border-radius: 5px;
    margin-bottom: 2px;

    .aurora-Rtable-cell {
      box-sizing: border-box;
      flex-grow: 1;
      padding: 10px 5px;
      overflow: hidden; // Or flex might break
      list-style: none;
      word-break: break-word;

      &.column-heading {
        color: $color-font-dark;
        padding: 5px;
        font-weight: 600;
        background-color: $color-bg-white;
      }

      .aurora-Rtable-cell--heading {
        display: none;
      }

      .aurora-Rtable-cell--content {
        .user-image {
          border: 2px solid $bordercolor-bg-darkgray;
        }

        .record-status {
          font-weight: 600;
        }

        .action-cell {
          font-weight: 600;
          cursor: pointer;
        }
      }
    }

    &:nth-child(odd) {
      background-color: $color-bg-lightgray-level-2;
    }

    &.aurora-Rtable-row-warning {
      border-left: 5px solid $bordercolor-warning;
    }

    &.aurora-Rtable-row-danger {
      border-left: 5px solid $bordercolor-danger;
    }
  }
}