.search-input{
    .form-control{
        padding: 10px 15px;
        height: 40px;
        font-size: 12px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 15 15'%3E%3Cpath id='Icon' d='M9.844-13a5.094,5.094,0,0,1,1.37.183,5.094,5.094,0,0,1,1.23.52,5.223,5.223,0,0,1,1.044.809,5.223,5.223,0,0,1,.809,1.044,5.1,5.1,0,0,1,.52,1.23A5.094,5.094,0,0,1,15-7.844a5.094,5.094,0,0,1-.183,1.37,5.094,5.094,0,0,1-.52,1.23A5.223,5.223,0,0,1,13.488-4.2a5.223,5.223,0,0,1-1.044.809,5.094,5.094,0,0,1-1.23.52,5.094,5.094,0,0,1-1.37.183A5.053,5.053,0,0,1,8.09-3a5.265,5.265,0,0,1-1.542-.886L.8,1.861A.45.45,0,0,1,.469,2a.45.45,0,0,1-.33-.139.46.46,0,0,1,0-.659l5.742-5.75A5.265,5.265,0,0,1,5-6.09a5.053,5.053,0,0,1-.308-1.754,5.094,5.094,0,0,1,.183-1.37,5.094,5.094,0,0,1,.52-1.23A5.223,5.223,0,0,1,6.2-11.488,5.223,5.223,0,0,1,7.244-12.3a5.094,5.094,0,0,1,1.23-.52A5.094,5.094,0,0,1,9.844-13Zm0,9.375a4.082,4.082,0,0,0,1.641-.333,4.284,4.284,0,0,0,1.34-.9,4.284,4.284,0,0,0,.9-1.34,4.082,4.082,0,0,0,.333-1.641,4.082,4.082,0,0,0-.333-1.641,4.284,4.284,0,0,0-.9-1.34,4.284,4.284,0,0,0-1.34-.9,4.082,4.082,0,0,0-1.641-.333,4.082,4.082,0,0,0-1.641.333,4.284,4.284,0,0,0-1.34.9,4.284,4.284,0,0,0-.9,1.34,4.082,4.082,0,0,0-.333,1.641A4.082,4.082,0,0,0,5.958-6.2a4.284,4.284,0,0,0,.9,1.34,4.284,4.284,0,0,0,1.34.9A4.082,4.082,0,0,0,9.844-3.625Z' transform='translate(0 13)' fill='%237a7a7a'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center right 10px;
        background-color: #F2F2F2;
    }
}

/* toggle radio button */
.switch-wrapper {
    width: 100%;
    line-height: 17px;
  
    .label-wrapper {
        display: inline-block;
        width: calc(100% - 60px);
  
        p {
            font-size: 12px;
            font-weight: 600;
            color: #000000;
            margin: 0;  
        }
        
        span {
            font-size: 12px;
            font-weight: 300;
            color: #7A7A7A;
            margin: 0;
        }
    }
  
    .switch {
        position: relative;
        display: block;
        width: 45px;
        height: 20px;
        float: right;
        margin: 3px 0 0 0;
  
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 9px;
            border: 2px solid #000000;
            background-color: transparent;
            -webkit-transition: .4s;
            transition: .4s;
  
            &:before {
                position: absolute;
                content: "";
                left: 2px;
                background-color: #000000;
                height: 14px;
                width: 14px;
                bottom: 1px;
                -webkit-transition: .4s;
                transition: .4s;
                border-radius: 50%;
            }
        }
  
        input {
            opacity: 0;
            width: 0;
            height: 0;
  
            &:checked {
                & + .slider {
                    background-color: #0078D7;
                    border: 2px solid #0078D7;
  
                    &:before {
                        background-color: #ffffff;
                        -webkit-transform: translateX(23px);
                        -ms-transform: translateX(23px);
                        transform: translateX(23px);
                    }
                }
  
            }
        }
    }
}

.sidebar-form-wrapper {
    padding: 15px;

    form {
        position: relative;

        input {
            color: #001000;
            font-size: 12px;
            height: auto;

            &.aurora-search-type-2 {
                padding: 10px 30px 10px 10px;

                @include placeholder {
                    font-style: italic;
                    color: #95989A;
                    opacity: 1;
                }
            }
        }

        label {
            font-size: 12px;
            color: #7A7A7A;
            margin: 0;
        }

        &.search-form {

            &:after {
                content: '';
                position: absolute;
                right: 10px;
                top: 13px;
                background-repeat: no-repeat;
                background-position: center;
                width: 15px;
                height: 15px;
                background-image: url("data:image/svg+xml,%3Csvg id='icons8_Conversion' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 14.969'%3E%3Cpath id='Path_3445' data-name='Path 3445' d='M1.153,0A1.157,1.157,0,0,0,0,1.153L5.192,6.922H9.808L15,1.153A1.156,1.156,0,0,0,13.847,0ZM5.192,7.5V12.35a1.87,1.87,0,0,0,1.153,1.6l2.309.938c.636.229,1.153-.069,1.153-.7V7.5Z' fill='%2395989a'/%3E%3C/svg%3E%0A");
            }
        }
    }

    p {
        font-size: 12px;
        color: #7A7A7A;
        margin: 0;
    }

    .icon-set-wrapper {
        background: #FFFFFF;
        border: 1px solid #E6E6E6;
        @include border-radius (5px);
        padding: 10px;

        i {
            padding: 8px 10px;
            cursor: pointer;

            &:hover,
            &.selected-icon {
                background: #E6E6E6;
            }
        }
    }
}