/* Top Header - start */
.navbar.navbar-top {
    background: $primary-color;
    height: 50px;
    padding-left: 50px;
    /* Top header User Name */
    .header-username{
        h2{
            font-size: 22px;
            color: #FFFFFF;
            margin-bottom: 0px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            .header-subtitle{
                font-size: 18px;
                margin-left: 10px;
                padding-left: 10px;
                border-left: 1px solid #FFFFFF;
                display: none;
                @media (min-width: 767px) {
                    display: inline-block;
                }
            }
        }
    }
}
/* Hamburger Menu */
.hamburg-menu {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 15px;
    left: 8px;
}
.hamburg-menu .icon {
    position: absolute;
    height: 3px;
    width: 25px;
    top: 10px;
    background-color: #FFFFFF;
    border-radius: 40px;
}
.hamburg-menu .icon:before {
    @include transition-duration(0.5s);
    position: absolute;
    width: 25px;
    height: 3px;
    background-color: #FFFFFF;
    content: "";
    top: -8px;
    border-radius: 40px;
}
.hamburg-menu .icon:after {
    @include transition-duration(0.5s);
    position: absolute;
    width: 25px;
    height: 3px;
    background-color: #FFFFFF;
    content: "";
    top: 8px;
    border-radius: 40px;
}
.hamburg-menu.close-menu .icon {
    @include transition-duration(0.5s);
    background: transparent;
}
.hamburg-menu.close-menu .icon:before {
    -webkit-transform: rotateZ(45deg) scaleX(1) translate(5px, 4px);
            transform: rotateZ(45deg) scaleX(1) translate(5px, 4px);
}
.hamburg-menu.close-menu .icon:after {
    -webkit-transform: rotateZ(-45deg) scaleX(1) translate(7px, -7px);
            transform: rotateZ(-45deg) scaleX(1) translate(7px, -7px);
}
.hamburg-menu:hover {
    cursor: pointer;
}
/* Top Header - end */

/* Top Menu - start */
.aurora-secondary-navbar {
    background: $top-navbar-bg;
    height: 50px;
    padding: 0;
    @include box-shadow(0 3px 6px rgba(0,0,0,0.2));
    z-index: 3;
    top: 50px;
    width: 100%;
    .navbar-nav{
        .nav-item{
            .nav-link {
                height: 50px;
                min-width: 100px;
                font-size: 12px;
                color: #7A7A7A;
                padding: 5px;
                cursor: pointer;
            }
            &.active,&:focus,&:hover{
                background: $primary-color-level-2;
                .nav-link{
                    color: #FFFFFF;
                }
            }
        }
    }
    @media (min-width: 767px) {
        padding-left: 50px;
    }
}
/* Top Menu - end */

/* Left Sidebar - start */
.aurora-left-sidebar {
    width: 50px ;
    background-color: #F2F2F2;
    height: calc(100vh - 100px);
    position: fixed;
    top: 100px;
    overflow:hidden;
    @include transition(all 0.10s linear);
    z-index: 2;
    left: -50px;
    @media (min-width: 576px) {
        left: 0px;
    }
}
/* Left Sidebar - end */