/* Top Header - start */
.navbar.navbar-top {
    background: $primary-color;
    height: 50px;
    padding-left: 50px;
    /* Top header User Name */
    .header-username{
        h2{
            font-size: 22px;
            color: #FFFFFF;
            margin-bottom: 0px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            .header-subtitle{
                font-size: 18px;
                margin-left: 10px;
                padding-left: 10px;
                border-left: 1px solid #FFFFFF;
                display: none;
                @media (min-width: 767px) {
                    display: inline-block;
                }
            }
        }
    }
}
/* Hamburger Menu */
.hamburg-menu {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 15px;
    left: 8px;
}
.hamburg-menu .icon {
    position: absolute;
    height: 3px;
    width: 25px;
    top: 10px;
    background-color: #FFFFFF;
    border-radius: 40px;
}
.hamburg-menu .icon:before {
    @include transition-duration(0.5s);
    position: absolute;
    width: 25px;
    height: 3px;
    background-color: #FFFFFF;
    content: "";
    top: -8px;
    border-radius: 40px;
}
.hamburg-menu .icon:after {
    @include transition-duration(0.5s);
    position: absolute;
    width: 25px;
    height: 3px;
    background-color: #FFFFFF;
    content: "";
    top: 8px;
    border-radius: 40px;
}
.hamburg-menu.close-menu .icon {
    @include transition-duration(0.5s);
    background: transparent;
}
.hamburg-menu.close-menu .icon:before {
    -webkit-transform: rotateZ(45deg) scaleX(1) translate(5px, 4px);
            transform: rotateZ(45deg) scaleX(1) translate(5px, 4px);
}
.hamburg-menu.close-menu .icon:after {
    -webkit-transform: rotateZ(-45deg) scaleX(1) translate(7px, -7px);
            transform: rotateZ(-45deg) scaleX(1) translate(7px, -7px);
}
.hamburg-menu:hover {
    cursor: pointer;
}

/* Top Right Nav */
.right-nav {
  height: 50px;
  padding: 10px 0;
}

.right-nav .chat-icon{
  position: relative;
  display: inline-block;
  border-left: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
  .chat-count{
      position: absolute;
      right: 10px;
      top: -5px;
  }
}
/* Top Header - end */


/* Top Menu - start */
.aurora-secondary-navbar {
    background: $top-navbar-bg;
    height: 50px;
    padding: 0;
    @include box-shadow(0 3px 6px rgba(0,0,0,0.2));
    z-index: 3;
    top: 50px;
    width: 100%;
    .navbar-nav{
        .nav-item{
            .nav-link {
                height: 50px;
                min-width: 100px;
                font-size: 12px;
                color: #7A7A7A;
                padding: 5px;
                cursor: pointer;
            }
            &.active,&:focus,&:hover{
                background: $primary-color-level-2;
                .nav-link{
                    color: #FFFFFF;
                }
            }
        }
    }
    @media (min-width: 767px) {
        padding-left: 50px;
    }
}
/* Top Menu - end */

/* Left Sidebar - start */
.aurora-left-sidebar {
    width: 50px ;
    background-color: #F2F2F2;
    height: calc(100vh - 100px);
    position: fixed;
    top: 100px;
    overflow:hidden;
    @include transition(all 0.10s linear);
    z-index: 2;
    left: -50px;
    @media (min-width: 576px) {
        left: 0px;
    }
    .aurora-left-sidebar-header{
        min-height: 220px;
        .profile-details {
            width: 100%;
            text-align: center;
            background: #E6E6E6;
            padding: 15px;
            opacity: 0;
            height: 220px;
            .profile-pic{
                .profile-placeholder-img{
                    width: 100px;
                    height: 100px;
                    background: $primary-color;
                    color: #fff;
                    border-radius: 50%;
                    margin: 10px auto;
                    font-size: 32px;
                }
            }
            .profile-name{
                font-size: 18px;
                font-weight: 600;
                line-height: 24px;
                margin: 0;
            }
            .profile-job {
                font-size: 15px;
                font-weight: 300;
                line-height: 20px;
                margin: 0;
            }
        }
    }
    .aurora-left-sidebar-content{
        .navbar-nav{
            .nav-item {
                position: relative;
                .nav-link {
                    cursor: pointer;
                    padding: 20px 0px;
                    .icon-block{
                        display: block;
                        width: 25px;
                        height: 25px;
                        margin: 0 10px;
                    }
                    .nav-text{
                        display:none;
                        color: #000000;
                        font-size: 15px;
                    }
                }
                &.active,&:focus,&:hover{
                    background-color: #E6E6E6;
                    &:before{
                        content: '';
                        position: absolute;
                        left: 2px;
                        top: 0px;
                        bottom: 0px;
                        width: 3px;
                        background-color: $primary-color-level-2;
                    }
                }
            }
        }
    }
    .aurora-left-sidebar-footer {
        padding: 20px 10px 0;
        opacity: 0;
        height: 200px;
        a{
            font-size: 15px;
            line-height: 40px;
            color: #000000;
        }
        .aurora-left-sidebar-footer-row {
            margin-bottom:2px;
            &:first-child{
                padding-top: 30px;
                border-top: 1px solid #D6D6D6;
            }
            .aurora-left-sidebar-footer-col {
                flex-basis: 50%;
                white-space: nowrap;
                max-width: 100%;
                text-overflow: ellipsis;
                overflow: hidden;
                padding: 0px 5px;
                .aurora-left-sidebar-footer-icon {
                    width: 25px;
                    height: 25px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 100% auto;
                    margin-right: 15px;
                    &.database {
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath id='Path_881' data-name='Path 881' d='M0,0H24V24H0Z' fill='none'/%3E%3Cpath id='Path_882' data-name='Path 882' d='M20,13H4a1,1,0,0,0-1,1v6a1,1,0,0,0,1,1H20a1,1,0,0,0,1-1V14A1,1,0,0,0,20,13ZM7,19a2,2,0,1,1,2-2A2.006,2.006,0,0,1,7,19ZM20,3H4A1,1,0,0,0,3,4v6a1,1,0,0,0,1,1H20a1,1,0,0,0,1-1V4A1,1,0,0,0,20,3ZM7,9A2,2,0,1,1,9,7,2.006,2.006,0,0,1,7,9Z' fill='%237a7a7a'/%3E%3C/svg%3E%0A");
                    }
                    &.settings {
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 19.454 20'%3E%3Cpath id='Path_819' data-name='Path 819' d='M19.43,12.98A7.793,7.793,0,0,0,19.5,12a7.793,7.793,0,0,0-.07-.98l2.11-1.65a.5.5,0,0,0,.12-.64l-2-3.46a.5.5,0,0,0-.61-.22l-2.49,1a7.306,7.306,0,0,0-1.69-.98l-.38-2.65A.488.488,0,0,0,14,2H10a.488.488,0,0,0-.49.42L9.13,5.07a7.683,7.683,0,0,0-1.69.98l-2.49-1a.488.488,0,0,0-.61.22l-2,3.46a.493.493,0,0,0,.12.64l2.11,1.65A7.931,7.931,0,0,0,4.5,12a7.931,7.931,0,0,0,.07.98L2.46,14.63a.5.5,0,0,0-.12.64l2,3.46a.5.5,0,0,0,.61.22l2.49-1a7.306,7.306,0,0,0,1.69.98l.38,2.65A.488.488,0,0,0,10,22h4a.488.488,0,0,0,.49-.42l.38-2.65a7.683,7.683,0,0,0,1.69-.98l2.49,1a.488.488,0,0,0,.61-.22l2-3.46a.5.5,0,0,0-.12-.64ZM12,15.5A3.5,3.5,0,1,1,15.5,12,3.5,3.5,0,0,1,12,15.5Z' transform='translate(-2.271 -2)' fill='%237a7a7a'/%3E%3C/svg%3E%0A");
                        width: 20px;
                        height: 20px;
                        margin-right: 20px;
                    }
                    &.log-out {
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3E%3Cpath id='Path_816' data-name='Path 816' d='M19,6.41,17.59,5,12,10.59,6.41,5,5,6.41,10.59,12,5,17.59,6.41,19,12,13.41,17.59,19,19,17.59,13.41,12Z' transform='translate(-5 -5)' fill='%237a7a7a'/%3E%3C/svg%3E%0A");
                        width: 15px;
                        height: 15px;
                        margin-right: 25px;
                    }
                }
                &:first-child{
                    border-right: 1px solid #D6D6D6;
                }
                &:last-child{
                    padding-left:15px;
                }
                &:hover,&:focus{
                    background-color: #E6E6E6;
                    cursor: pointer;
                }
            }
        }  
    }
    &.open-leftsidebar{
        width: 300px;
        left: 0px;
        z-index: 3;
        .aurora-left-sidebar-content{
            overflow-y: auto;
        }
        .navbar-nav{
            overflow-y: auto;
            overflow-x: hidden;
            .nav-item{
                .nav-link{
                    .nav-text{
                        display:block;
                    }
                }
            }
        }
        .profile-details,.aurora-left-sidebar-footer{
            opacity: 1;
        }
    }
}
/* Left Sidebar - end */