/* Variables */
$primary-color : #0069C0;
$primary-color-level-2 : #0078D7;

$aurora-green: #4caf50;
$aurora-red: #f44336;
$aurora-orange: #ff971b;
$aurora-yellow: #f6cf27;

$top-navbar-bg : #F2F2F2;
$top-navbar-font-color : #7a7a7a;
$top-navbar-yellow-link-color : #FF9800;
$right-sidebar-bg : #f2f2f2;
$button-left-border-color : #F44336;

/*products cards colors*/
$product-blue: #0078D7;
$product-green: #4CAF50;
$product-brown: #9D4E00;
$product-orange: #FF9800;
$product-purple: #90629B;
$product-grey: #7A7A7A;
$product-cyan: #2AA2AB;
$product-red: #C9281D;

/*Buttons colors*/ 
$color-info-light : #CFE5F8;
$color-success-light : #D8EFD9;
$color-warning-light : #FEF9DF;
$color-danger-light : #ECD6D4;

$color-info-light-level-2 : #8BC2F2;
$color-danger-light-level-2 : #F44336;
$color-warning-light-level-2 : #F6CF08;
$color-success-light-level-2 : #B5E4B7;

$color-info-dark : #0078D7;
$color-success-dark : #4CAF50;
$color-warning-dark : #FF9800;
$color-danger-dark : #F44336;

/* font colors */
$color-font-white : #FFFFFF;
$color-font-dark : #000000;
$color-font-gray : #7A7A7A;

/* background colors */
$color-bg-white : #FFFFFF;
$color-bg-dark :#000000;



