/* Variables */
$primary-color : #0069C0;
$primary-color-level-2 : #0078D7;

$aurora-green: #4CAF50;
$aurora-red: #F44336;
$aurora-orange: #FF971B;
$aurora-yellow: #F6CF27;

/*Products cards colors*/
$product-blue: #0078D7;
$product-green: #4CAF50;
$product-brown: #9D4E00;
$product-orange: #FF9800;
$product-purple: #90629B;
$product-grey: #7A7A7A;
$product-cyan: #2AA2AB;
$product-red: #C9281D;

/*Buttons colors*/ 
$color-info-light : #CFE5F8;
$color-success-light : #D8EFD9;
$color-warning-light : #FEF9DF;
$color-danger-light : #ECD6D4;

$color-info-light-level-2 : #8BC2F2;
$color-danger-light-level-2 : #F44336;
$color-warning-light-level-2 : #F6CF08;
$color-success-light-level-2 : #B5E4B7;

$color-info-dark : #0078D7;
$color-success-dark : #4CAF50;
$color-warning-dark : #FF9800;
$color-danger-dark : #F44336;

/* Font colors */
$color-font-white : #FFFFFF;
$color-font-dark : #000000;
$color-font-gray : #7A7A7A;
$color-font-red : #F44336;

/* background colors */
$color-bg-white : #FFFFFF;
$color-bg-dark :#000000;
$color-bg-gray : #D6D6D6;
$color-bg-lightgray : #E6E6E6;
$color-bg-lightgray-level-1 : #FCFCFC;
$color-bg-lightgray-level-2 : #F2F2F2;

/*Border colors*/ 
$bordercolor-bg-darkgray : #707070;
$bordercolor-bg-gray : #D6D6D6;
$bordercolor-info-light : #CFE5F8;
$bordercolor-warning : #FFAD1E;
$bordercolor-danger : #FF3B3B;